# Projects files
keys.sh

# OS Artifacts
*.DS_Store

# Vagrant Artifacts
.vagrant/*
Berksfile.lock

# NPM Artifacts
node_modules/*
npm-debug.log
libpeerconnection.log

# Docco artifacts
docs/*

# IDE Artifacts
.idea/*
*.iml
*.sublime-*

# Jekyll artifacts
_site/*
